
.navbar-nav {
    margin-left: auto;
    margin-right: 25px !important;

}

.jumbotronBackground {
background-image: linear-gradient(whitesmoke, #5B3D3D);
height: calc(100vh - 40px);
display: flex;
align-items: center;
justify-content: center;
}

.jumbotronCopy {
  text-align: center;

}

.Jumbocard img {
    width: 250px;
    height: 250px;
    margin-left: 100px;
    border-radius: 8px;
}

.card img {
    width: 325px;
    height: 300px;
    padding-top: 50px;
}

.card-body {
    text-align: center;
}

.colour {
    background-image: url('../images/background6.avif');
    background-repeat: no-repeat;  
    background-size: cover;
    border-radius: 50px;
}
.skills {
    padding-top: 50px;
    text-align: center;
    line-height: 3;
}

.skills h2 {
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    color: whitesmoke;
}

.skills ul {
    list-style-type: none;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;

}

.five {
    padding-top: 100px;
    text-align: center;
}

.five h2 {
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.AM {
    line-height: 1.8;
}

.contacts ul {
    line-height: 1.8;
    list-style-type: none;
    
}

.footer {
display: flex;
justify-content: space-evenly;
list-style-type: none;
padding-top:100px;
}

.footer a:hover {
    background: hotpink;
    text-shadow: 0 0 3px blue;
}

.last {
    text-align: center;
    color: gray;
}

